<section class="hero">
    <div class="container">
        {% include '../components/header.twig' with
            {
                'main_title' : 'vitami',
                'basket_title' : 'Basket',
            }
        %}
        <div class="hero__content">
            <h2 class="hero__title">{{ title }}</h2>
        </div>
    </div>
</section>
