//@font-face {
//  font-family: "ProximaNova";
//  src: url("../fonts/ProximaNova-regular.ttf");
//  font-style: normal;
//  font-weight: normal;
//}
//
@font-face {
  font-family: 'HelveticaNeueLTStd55Roman';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/HelveticaNeueLTStd55Roman.woff') format('woff');
}

@font-face {
  font-family: 'ITCAvantGardeGothicBold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/itc-avant-garde-gothic-lt-bold.ttf');
}